@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background: #7F95AB;
  --foreground: #f0efec;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #192841;
    --foreground: #ededed;
  }
}



